/*body {
    background-color: red;
}

/* Bordered form */
.container {
    margin-top: 5em;
    border: 3px solid black;
    background-color: darkslateblue;
    border-radius: 1em;
}
label{
    font-size:8em;
}
button {
    background-color:aquamarine;
    /*text-decoration-color: white;*/
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid white;
    cursor: pointer;
    width: 100%;
}
    button:hover {
        opacity: 0.8;
        background-color:white;
        color:blueviolet;
    }

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Full-width inputs */
/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons *
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for buttons *
    button:hover {
        opacity: 0.8;
    }

/* Extra style for the cancel button (red) *
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container *
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */


/* Add padding to containers *
.container {
    padding: 16px;
}

/* The "Forgot password" text *
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens *
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}*/